<p>In this lesson we will cover arrays using Python! </p>

<p>Arrays are an introduction to data structures. They are simple way of storing and retrieving data from indexed locations.</p>

<p>To initialize an array you type:</p>

<p>myArray = [5,6,7]</p>

<p>You can see the contents of your array by typing print(myArray)</p>

<p>When we break down this line of code, the word myArray is called a variable, and that variable is pointing to a location in memory where the array is stored. The equals sign is called an assignment operator. The portion on the right between the brackets is the actual definition of our array. In this case we initialized our array to contain the numbers 5, 6 and 7.</p>

<p>You can access a single item in the array by typing the variable and then using brackets to pull the item. Indexing in arrays starts at 0. If we wanted to grab the 5 our of our array we would type, myArray[0]. We could store that value in another variable or we could even overwrite it with another value by using the assignment operator.

<p>For this lesson initialize your own array of values 8, 9 and 10 and then print it.</p>