<h1><strong>Lesson 1</strong></h1>

<h2><strong>Welcome to the World of Python!</strong></h2>

<p>Once upon a time, knowing how to type on a computer and using Microsoft Word, Excel, and PowerPoint were very important skills to land high paying jobs. Nowadays, everyone knows how to type and use these basic programs. The skill you need to be successful today is programming.</p>

<h2>What can you do with programming? </h2>

<p>Today, almost everything electronic has some form of programming in it. A program is a set of instructions that performs a task that allows you to enhance the quality of life from convenience, e.g. allowing you to buy groceries online, to enjoyment, e.g. video games. Your smart phone and all the games you have installed on it are programs. Everything on the computer is a program. There are even high tech fridges that have programs to allow you change the temperature remotely or detect what food you need to buy the next time you go to the grocery store. Having the skill to write programs allow grants you the ability to enhance the quality of life in many ways from convenience (apps to turn off your lights remotely) to enjoyment (mobile and video games). </p>

<h2>Why Python?</h2>

<p>Python is a great language to start with because you can write programs that do big things with very little code. In addition, Python is a high level language, meaning it is closer to English than some other programming languages, making it easier to learn. However, the main difference between English as a language and a programming language is that in programming, your letters, symbols, and numbers (your code), must be perfect, e.g., there are no typos, extra characters, or symbols. When these errors occur, your program will not work.</p>

<h2>What can I do with Python?</h2>

<p>You can:<br>
- Make games<br>The following video shows a touch screen game where the goal is to guide a ball to a designated target by bouncing it off lines that the player draws.
<br><iframe width="560" height="315" src="https://www.youtube.com/embed/1Qa98oSPgi0" frameborder="0" allowfullscreen></iframe></p>


<p>- Make art<br>The following video shows an art exhibition that is powered by Python that is directed by human movement.<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pI635uAppoU" frameborder="0" allowfullscreen></iframe>
</p>

<p>- Make music<br>The following video shows a person making music through via Python.<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iKkvS-gQ4EA" frameborder="0" allowfullscreen></iframe>
</p>

<p>- And much more with your imagination and Python. </p>


<h2>How can I write my first program? </h2>

<p>
The following line is all you need to write your first program. Please type it into the scratch pad.<br>

<br>print "Hello, World!"<br>

<br>What this program does is print out "Hello, World" to your screen. Note that you must have double quotes at the beginning and end of your statement and you must type "print" without any typos. You can change the text inside the quotes to anything you want and it will change the text that is printed to the screen. That's it! Now you know how to write your first program - go ahead and try it in the first challenge. </p>





