<p> Welcome to the intro lesson for Python! </p>

<p>In this lesson you will learn how to use a function built into python called print.</p>

<p>What print does is writes a String (which for now can be thought of simply as an english sentence, although we will get into more depth later) to the console. The console is where we view the output of our little programs.</p>

<p>Follow the example to print the string "Hello World": </p>

<p>print("My first print")</p>

<p>Output: My first print</p>

<p>And remember! Python is case-sensitive! This means that print and Print are not the same thing!</p>