<h1><strong>Lesson 3</strong></h1>

<h2><strong>Arithmetic</strong></h2>

<p>Math is everywhere. To calculate a 20% discount on an iPhone 7 that is $749, use the equation: <br>
newPrice = 749 - 749 * 0.2<br>
<br>
The resulting price is $599.20. In Python, the multiplication operator is *. In the example above, the result is stored in the variable, newPrice.
<br><br>
Variables can be used on the right hand side of an assignment. For example:<br>
originalPrice = 749<br>
newPrice = oldPrice - oldPrice * 0.2<br>
<br>
The result is the same price, but in this case, we stored the original price of the iPhone in the variable, originalPrice and used it to compute the newPrice.
<br><br>
The same variable can be used on both sides of the assignment (equal sign). For example:<br>
price = 749<br>
price = price - price * 0.2<br> 
<br>
Again, the resulting price is $599.20. However, in this case, we used only one variable, price, to do the arithmetic. Note, the value of price was used for the computations on the right side before it was overwritten with the result.
<br><br>
In these three examples, note that the order of operations was followed. To review, operations are performed in the following order:<br>
Parentheses, inside to outside<br>
Exponents<br>
Multiplication and Division, left to right<br>
Addition and Subtraction, left to right<br>
For example:<br>
result = ((1 + 2)*3 + 3) ** 2 + 2 * 2 - 2 / 2<br>
<br>
The result is 147. Note that the result is calculated as follows:<br>
result = (3 * 3 + 3) ** 2 + 2 * 2 - 2 / 2<br>
result = (9 + 3) ** 2 + 2 * 2 - 2 / 2<br>
result = 12 ** 2 + 2 * 2 - 2 / 2<br>
result = 144 + 2 * 2 - 2 / 2<br>
result = 144 + 4 - 2 / 2<br>
result = 144 + 4 - 1<br>
result = 148 - 1<br>
result = 147<br> 
</p>