<p>In this lesson we will cover loops using Python! </p>

<p>A loop is a way of repeating the same block of code many times.</p>

<p>There are two main types of loops: For loops and While loops. In this lesson we will go over for loops.</p>

<p>This is what a for loop looks like in code:</p>

<p>for i in myArray: <br> &nbsp;&nbsp;&nbsp;&nbsp; print(i)</p>

<p>When we break down this line of code, the word myArray is called a variable, and that variable is pointing to a location in memory where the array is stored. The equals sign is called an assignment operator. The portion on the right between the brackets is the actual definition of our array. In this case we initialized our array to contain the numbers 5, 6 and 7.</p>

<p>You can access a single item in the array by typing the variable and then using brackets to pull the item. Indexing in arrays starts at 0. If we wanted to grab the 5 our of our array we would type, myArray[0]. We could store that value in another variable or we could even overwrite it with another value by using the assignment operator.

<p>For this lesson initialize your own array of values 8, 9 and 10 and then print it.</p>