<p>In this lesson we will cover loops using Python! </p>

<p>A loop is a way of repeating the same block of code many times.</p>

<p>There are two main types of loops: For loops and While loops. In this lesson we will go over for loops.</p>

<p>This is what a for loop looks like in code:</p>

<p>for i in myArray: <br> &nbsp;&nbsp;&nbsp;&nbsp; print(i)</p>

<p>In the above example, the print function will run for as many items as there are in the myArray variable.</p>

<p>Initialize an array of at least 2 elements and write a loop like the one above to print the contents of the array.</p>

<p>Good luck!</p>