{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />

{% if Something_Wrong %}<p><strong>Something Wrong!</strong></p>{% endif %}
<head>
    <script>
        function enterField(fieldname){
            el = document.getElementById(fieldname);
            if (el.value == "User Name"){
                el.value = "";
                el.style.color = "black";
                el.style.fontStyle = "normal";
            } else if (el.value == ""){
                el.value = "User Name";
                el.style.color = "grey";
                el.style.fontStyle = "italic";
            }
        }

        function exitField(el){
            if (el.value == ""){
                el.value = "User Name";
                el.style.color = "grey";
                el.style.fontStyle = "italic";
            } else{
                el.style.color = "black";
                el.style.fontStyle = "normal";
            }
        }
        
        function enterPassField(el){ 
            if (el.value == "Password" && (el.type != "password")){
                el.type = "password";
                el.value = "";
                el.style.color = "black";
                el.style.fontStyle = "normal";
            }
        }

        function exitPassField(el){
            if (el.value == ""){
                el.value = "Password";
                el.type = "text";
                el.style.color = "grey";
                el.style.fontStyle = "italic";
            } 
        }
    </script>
</head>




<body class="background">
<div class="titleAthena">
    <h1 class="titleText"> ATHENA </h1>
</div>
    <form action="{% url 'login:dologin' %}" method="post">
    {% csrf_token %}
        <div class="logintable">
            <table align = "center">
            <tr>
            <td colspan="2"><img class="loginimage" src= "{% static 'login/images/welcome.png' %}"></td>
            </tr>
            <tr>
            <tr>
            <td colspan="2"><p class="text-white">Please Login:</p></td>
            </tr>
            <tr>
            <td colspan="2"><input class="username" id = "username" type="text" name="UserName" value="User Name" onfocus="enterField('username')" onblur="exitField(this)"></td>
            </tr>
            <tr>
            <td colspan="2"><input class="password" type="text" name="PassWord" value="Password" onfocus="enterPassField(this)" onblur="exitPassField(this)"></td>
            </tr>
            <tr>
            <td><input class="button" type="submit" value="Login" /></td>
            <td><a class="abutton" href="{% url 'login:register' %}">Sign Up</a></td>
            </tr>
            </table>
        </div>  
    </form>
</body>  
<!--
User name: <input type="text" name="UserName" value="User Name"><br>
PassWord: <input type="text" name="PassWord" value="Password"><br>
<input type="submit" value="Login or SignUp" />
-->
</html>


