
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/course_style.css' %}" />

<html>
<head>
    <script src="{% static 'homepage/applozic/js/jquery.min.js'%}"></script>
  


    <title>Athena</title>
    <input type="hidden" id="expected_output" value="{{ loadlesson.expected_output }}"/>
    <script>
    var expected_output = document.getElementById("expected_output").value;
    function getoutput(){   
        output = document.getElementById("output").innerHTML;  
        pattr = expected_output.trim()
        if (output.trim().match(pattr) != null){
            document.getElementById("status").src = "{% static 'homepage/images/check.png' %}";
            return "true";
        }
        else {
            document.getElementById("status").src = "{% static 'homepage/images/x.png' %}";
            return "false";
        }
    }
    
    function toggleSidebar(el, other){
        other.style.backgroundColor= "darkorange";
        other.style.color = "white";
        other.style.fontWeight = "300";
        el.style.backgroundColor = "#f9f9f9";
        el.style.color = "grey";
        if (el.name == 'qrs'){
            document.getElementById("who-pane").style.visibility = "hidden";
            document.getElementById("qrs-pane").style.visibility = "visible";
            document.getElementById("qrs-pane").style.height = "auto";
            document.getElementById("who-pane").style.height = "0px";            
        }
        else{
            document.getElementById("qrs-pane").style.visibility = "hidden";
            document.getElementById("who-pane").style.visibility = "visible"; 
            document.getElementById("who-pane").style.height = "auto";
            document.getElementById("qrs-pane").style.height = "0px";                
        }
    }
    </script>    
</head>
<body>
    <buttun style="position:fixed; left:10px; bottom:10px;"><a style="text-decoration: none;" href="{% url 'homepage:courseList' User.username %}">Go Back To Courselist</a></buttun>
    <div class="titleAthena">
        <span><span class="format_logo"><img  src="{% static 'homepage/images/logo.png' %}"></span><span class="Course_Name">{{CourseName}}</span><span class="Lesson_Name">{{ loadlesson.challenge_name }}{{ loadlesson.lesson_name }}</span></span>
        <span class="helloUser">
            <a class="username" href="{% url 'homepage:profile' User.username %}">
                <table style="margin:-5px; padding: 0;">
                    <tr style="margin:0; padding: 0;"><td style="margin:0; padding: 0; text-align: right; vertical-align: bottom;">Welcome, <strong>{{  User.username }}</strong></td><td rowspan="2" style="margin-left: 5px; padding-left:5px;"><img class="img-circle user_pic" src="{% static picture %}" style="height:38;width:38;"></td></tr>
                    <tr style="margin:0; padding: 0;"><td style="margin:0; padding: 0; text-align: right; vertical-align: top;">Score: <strong>{{score}}</strong></td></tr>
                </table>
            </a>
        </span>
    </div>
    <div class="page" id="page">
        <div class="course_nav">
            <ul class="lesson_list">
                {% for i in lessonDetail %}                
                    {% if i.lesson_name == loadlesson.lesson_name %}                   
                        {% if i in progress %}
                            <li class="current_lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a  class="current_lesson_item lesson_complete" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a><img height="16" width= "16" src = "{% static 'homepage/images/check.png' %}"></li><div name="lines" class="complete_line"> &nbsp;</div>
                        {% else %}                   
                            <li class="current_lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="current_lesson_item" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a></li><div name="lines" class="incomplete_line"> &nbsp;</div>
                        {% endif %}
                    {% else %}              
                        {% if i in progress %}                                  
                            <li class="lesson_item"><img class="icon" src= "{% static 'homepage/images/complete_square.png' %}"><a class="lesson_item lesson_complete" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a><img height="16" width= "16" src = "{% static 'homepage/images/check.png' %}"></li><div name="lines" class="complete_line"> &nbsp;</div>
                        {% else %}                                
                            <li class="lesson_item"><img class="icon" src= "{% static 'homepage/images/incomplete_square.png' %}"><a class="lesson_item" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a></li><div name="lines" class="incomplete_line"> &nbsp;</div>
                        {% endif %} 
                    {% endif %}
                    {% for j in i.challenge_set.all %}
                        {% if j.challenge_name == loadlesson.challenge_name and j.id == loadlesson.id %}
                            {% if j in cprog %}
                                <li class="current_lesson_item" ><img class="challenge_icon" src= "{% static 'homepage/images/circles.png' %}"><a class="current_lesson_item lesson_complete" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a><img height="16" width= "16" src = "{% static 'homepage/images/check.png' %}"></li><div name="lines" class="complete_line">&nbsp;</div>
                            {% else %}
                                <li class="current_lesson_item" ><img class="challenge_icon" src= "{% static 'homepage/images/circles.png' %}"><a class="current_lesson_item" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li><div name="lines" class="incomplete_line">&nbsp;</div>
                            {% endif %}
                        {% else %}
                            {% if j in cprog %}
                                <li class="lesson_item" ><img class="challenge_icon" src= "{% static 'homepage/images/complete_circles.png' %}"><a class="lesson_item lesson_complete" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a><img height="16" width= "16" src = "{% static 'homepage/images/check.png' %}"></li><div name="lines" class="complete_line">&nbsp;</div>
                            {% else %}
                                <li class="lesson_item" ><img class="challenge_icon" src= "{% static 'homepage/images/incomplete_circles.png' %}"><a class="lesson_item" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li><div name="lines" class="incomplete_line">&nbsp;</div>
                            {% endif %} 
                        {% endif %}
                    {% endfor %}                   
                {% endfor %}
            </ul>
        </div>

        <script>
            function removeLastLine(){
                lines = document.getElementsByName("lines");
                line = lines[lines.length-1]
                line.parentNode.removeChild(line);
            }
            removeLastLine();
        </script>
        
        <div class="lesson_sidebar">
            <button class="sidebar_btn" name="qrs" onclick="toggleSidebar(this, document.getElementById('who'))" id= "qrs" >Script Notes</button>
            <button class="sidebar_btn" name="who" onclick="toggleSidebar(this, document.getElementById('qrs'))" id= "who">Who's Online</button>        
            <p></p>
            <div id="qrs-pane">
                <textarea id="notes" style="position:relative; height: 450px; width:299px; background-color: #ffe4c1; border: none; font-size: 18px;">{{ TextNotes }}</textarea>
            </div>
            <div id="who-pane">
                <table class="online_user_table">
                {% for i in whosOnline %}
                <tr>
                <td class="table_row"><a href="{% url 'homepage:otherprofile' User.username i.username %}"><img class="img-circle" src="{% static i.picture %}" style="height:32;width:32;"%}></a></td>
                <td class="table_row"><a class="online_user" href="{% url 'homepage:chat' User.id User.username i.id i.username %}">{{ i.username }}</a></td>                                
                </tr> 
                {% endfor %}
                </table>
            </div>
        </div>
        
        <script>toggleSidebar(document.getElementById("who"), document.getElementById("qrs"));</script>
        <div class="main_lesson">
            <div class= "lesson_content">
               
                <div id="content_pane">  
                    {% with template_name=loadlesson.content %}
                        {% include template_name %}
                    {% endwith %}
                    <div class= "coding_practice">
                        <p> Write your code here: </p>
                        {% if loadlesson.lesson_name %}
                        {% include './editor.html' with Username=User.username Lessonname=loadlesson.lesson_name isL=isLesson text=Text %}
                        {% elif loadlesson.challenge_name %}
                        {% include './editor.html' with Username=User.username Lessonname=loadlesson.challenge_name isL=isLesson text=Text %}
                        {% endif %}
                    </div>
                    <div class="bottom">
                    </div>
                </div> <!-- end content-pane-->
            </div><!-- end lesson_content -->
        </div><!-- end main lesson -->
    </div> 
    {% include './chat.html' %}
</body>

<script>
$( window ).resize(function() {
    var b = $('body').height();
    $('#page').height(b-50);
  $( "#log" ).append( "<div>Handler for .resize() called.</div>" );
});

$( document ).load(function() {
    var b = $('body').height();
    $('#page').height(b-50);
  $( "#log" ).append( "<div>Handler for .resize() called.</div>" );
});
    var b = $('body').height();
    $('#page').height(b-50);
</script>
<script>
    $("#notes").blur(function(){
        $.ajax({
            type:"POST",
            url:"{% url 'homepage:keepnotes' User.username name %}",
            data:{
                haha:{{ isLesson }},
                notes:$("#notes").val(),
                csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(){}
        });
    });
</script>

</html>