
{% load static %}

<html>
<head>
    <title>Athena</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/course_style.css' %}" />
    <script>
    isHidden = false;
    function showhidelesson(btn, el){
        if (!isHidden){
            el.style.height = "10px";
            isHidden = true;
            btn.src = "/static/homepage/images/unhide.png";
            document.getElementById("content_pane").style.visibility = "hidden";
        }
        else{
            el.style.height = "40%";
            isHidden = false;
            btn.src = "/static/homepage/images/hide.png"
            document.getElementById("content_pane").style.visibility = "visible"
        }
    }
    </script>
</head>
<body>
<div class="titleAthena">
    <span><h1 class="titleText"> ATHENA </h1></span>
    <p class="helloUser">Welcome, <a class="username" href="#">{{  User.username }}</a></p>
</div>

    <div class="course_nav">
    {% for i in lessonDetail %}
        <li>{{ i.lesson_name }}:{{ i.summary }}</li>
    {% endfor %}
    </div>

    <div class="lesson_sidebar">
        <button>Quick Reference</button>
        <button>Who's Online</button>
        <p>will be able to toggle between who's online and Quick reference sheet</p>
    </div>
    
    <div class="main_lesson">
        <div class= "lesson_content">
            <img id="showhidebtn" class="hide_lesson" src="/static/homepage/images/hide.png" onclick="showhidelesson(this, this.parentNode)">
            <div id="content_pane">
                <p>some lesson content</p>
            </div>
        </div>
        <div class= "coding_practice">
            <p> this is where the code editor will be</p>
            {% include './editor.html' %}
        </div>
    </div>    
</body>
</html>