
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/course_style.css' %}" />
<html>
<head>
    <title>Athena</title>
    <input type="hidden" id="expected_output" value="{{ loadlesson.expected_output }}"/>
    <script>
    isHidden = false;
    function showhidelesson(btn, el){
        if (!isHidden){
            el.style.height = "10px";
            isHidden = true;
            btn.src = "{% static 'homepage/images/unhide.png' %}";
            document.getElementById("content_pane").style.visibility = "hidden";
        }
        else{
            el.style.height = "40%";
            isHidden = false;
            btn.src = "{% static 'homepage/images/hide.png' %}";
            document.getElementById("content_pane").style.visibility = "visible"
        }
    }
    var expected_output = document.getElementById("expected_output").value;
    function getoutput(){   
        output = document.getElementById("output").innerHTML;  
        pattr = expected_output.trim()
        if (output.trim().match(pattr) != null){
            document.getElementById("status").src = "{% static 'homepage/images/check.png' %}";
            return "true";
        }
        else {
            document.getElementById("status").src = "{% static 'homepage/images/x.png' %}";
            return "false";
        }
    }
    
    function toggleSidebar(el, other){
        other.style.backgroundColor= "darkorange";
        other.style.color = "white";
        el.style.backgroundColor = "#e6e6ff";
        el.style.color = "grey";
        if (el.name == 'qrs'){
            document.getElementById("who-pane").style.visibility = "hidden";
            document.getElementById("qrs-pane").style.visibility = "visible";
            document.getElementById("qrs-pane").style.height = "100%";
            document.getElementById("who-pane").style.height = "0px";            
        }
        else{
            document.getElementById("qrs-pane").style.visibility = "hidden";
            document.getElementById("who-pane").style.visibility = "visible"; 
            document.getElementById("who-pane").style.height = "100%";
            document.getElementById("qrs-pane").style.height = "0px";                
        }
    }
    </script>    
</head>
<body>
<div class="titleAthena">
    <span><h1 class="titleText"> ATHENA </h1></span>
    <p class="helloUser">Welcome, <a class="username" href="{% url 'homepage:profile' User.username %}">{{  User.username }}</a></p>
</div>

    <div class="course_nav">
        <p> {{CourseName}}</p>
        {{cprog}}
        <ul class="lesson_list">
            {% for i in lessonDetail %}                
                {% if i.lesson_name == loadlesson.lesson_name %}                   
                    {% if i in progress %}
                        <li class="current_lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="current_lesson_item lesson_complete" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a>
                    {% else %}                   
                        <li class="current_lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="current_lesson_item" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a>
                    {% endif %}
                {% else %}              
                        {% if i in progress %}                                  
                            <li class="lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="lesson_item lesson_complete" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a>
                        {% else %}                                
                            <li class="lesson_item"><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="lesson_item" href="{% url 'homepage:course' User CourseName i.lesson_name %}">{{ i.lesson_name }}</a>
                        {% endif %} 
                {% endif %}
                {% for j in i.challenge_set.all %}
                    {% if j.challenge_name == loadlesson.challenge_name and j.id == loadlesson.id %}
                        {% if j in cprog %}
                            <li class="current_lesson_item" ><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="current_lesson_item lesson_complete" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li>
                        {% else %}
                            <li class="current_lesson_item" ><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="current_lesson_item" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if j in cprog %}
                            <li class="lesson_item" ><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="lesson_item lesson_complete" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li>
                        {% else %}
                            <li class="lesson_item" ><img class="icon" src= "{% static 'homepage/images/square.png' %}"><a class="lesson_item" href="{% url 'homepage:challenge' User CourseName i.lesson_name j.challenge_name %}">{{ j.challenge_name }}</a></li>
                        {% endif %}                    
                    {% endif %}
                {% endfor %}
            </li>  
            {% endfor %}
        </ul>
    </div>

    <div class="lesson_sidebar">
        <button class="sidebar_btn" name="qrs" onclick="toggleSidebar(this, document.getElementById('who'))" id= "qrs" >Quick Reference</button>
        <button class="sidebar_btn" name="who" onclick="toggleSidebar(this, document.getElementById('qrs'))" id= "who">Who's Online</button>        
        <p></p>
        <div id="qrs-pane">Quick Reference Sheet</div>
        <div id="who-pane">
            <table>
            {% for i in whosOnline %}
            <tr>
            <td><a href="#">{{ i.username }}</a></td>
            <td><a href="{% url 'homepage:otherprofile' User.username i.username %}"><img src="{% static 'homepage/images/giphy.gif'%}"" style="height:32 ;width:32;"%}></a></td>
            </tr> 
            {% endfor %}
            </table>
        </div>
    </div>
    <script>toggleSidebar(document.getElementById("qrs"), document.getElementById("who"));</script>
    <div class="main_lesson">
        <div class= "lesson_content">
            <img id="showhidebtn" class="hide_lesson" src="{% static 'homepage/images/hide.png' %}" onclick="showhidelesson(this, this.parentNode)">
            <div id="content_pane">  
                {% with template_name=loadlesson.content %}
                    {% include template_name %}
                {% endwith %}
            </div>
        </div>
        <div class= "coding_practice">
            <p> Write your code here: </p>
            {{ isLesson }}
            {% if loadlesson.lesson_name %}
            {% include './editor.html' with Username=User.username Lessonname=loadlesson.lesson_name isL=isLesson text=Text %}
            {% elif loadlesson.challenge_name %}
            {% include './editor.html' with Username=User.username Lessonname=loadlesson.challenge_name isL=isLesson text=Text %}
            {% endif %}
        </div>
    </div>    
</body>
</html>