{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />

    <div class="titleAthena">
        <span><span class="format_logo"><img  src="{% static 'homepage/images/logo.png' %}"></span>
        <span class="helloUser">Welcome, <a class="username" href="{% url 'homepage:profile' User.username %}">{{  User.username }}</a></span>        
    </div>

 <h1>Course List: </h1>

{% for i in CourseClass %}
    <div class = "course_block"> 
        <a href="{% url 'homepage:course' User.username i.course_name i.course_name%}"class="course_link">
        <!--<p class = "course_title"> {{ i.course_name}} </p> -->
        <img class = "course_image" src= "{% static i.image %}">
        <p class = "course_content">{{ i.num_of_lessons}} lessons </p>
        </a>
    </div>
    <div class="spacing"></div>
{% endfor %}