{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />

<div class="titleAthena">
    <span><h1 class="titleText"> ATHENA </h1></span>
    <p class="helloUser">This is, <a class="username" href="#">{{ ToWhoName }}</a>'s profile</p>
</div>

<div class="leftpane">
    <div class="profilePic">
        <img class="img-circle"src="{% static 'homepage/images/profilepic.png' %}">
        <p> -- {{ ToWhoName }} -- </p>
        <hr>
    </div>
    <div class="listoptions">
    </div>

<div class="newsfeed">
    <div class="newscontent">
        <h1> Here is the milestone</h1>
    </div>
    <input type=button value="Go back" onClick="window.history.back();return false;">
</div>

<div>
    <div>
        <h1> This is {{ ToWhoName }}'s progress:</h1>
        <p>Lesson Completed:</p>
        {% for i in Progress %}
        <p>{{ i.lesson.lesson_name }} : {{ i.is_complete }}</p>
        {% endfor %}
        <br><br>
        <p>Challenge Completed:</p>
        {% for i in CProgress %}
        <p>{{ i.challenge.challenge_name }} : {{ i.is_complete }}</p>
        {% endfor %}
    </div>
</div>

