{% load static %}
<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
/*
var validNavigation = false;

function wireUpEvents() {
var dont_confirm_leave = 0; //set dont_confirm_leave to 1 when you want the    user to be able to leave withou confirmation
var leave_message = 'ServerThemes.Net Recommend BEST WEB HOSTING at new tab  window. Good things will come to you'
function goodbye(e) {
    console.log(validNavigation);
    if (!validNavigation) {
        $.ajax({
            type:"GET",
            url:"{% url 'homepage:logoutuser' %}",
            data:{
                haha:{{ UserName }},
                csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(){
                alert("sss");

            }
        });
        return leave_message;
    };
    
}

function CallbackFunction(e) {
    e = window.event || e;
    if(e){
        console.log(e.clientX+","+e.clientY);
    }
    else {

        console.log("jajaja");
        return "sss";

           // want some condition here so that I can differentiate between whether refresh button is clicked or back button is clicked.             
    }
}

//window.closed=goodbye;
//window.onbeforeunload = function() {
//    return "Did you save your stuff?"
//};

// Attach the event keypress to exclude the F5 refresh
$(document).bind('keypress', function(e) {
    if (e.keyCode == 116){
        validNavigation = true;
    }
});

// Attach the event click for all links in the page
$("a").bind("click", function() {
    validNavigation = true;
});
// Attach the event submit for all forms in the page
$("form").bind("submit", function() {
    validNavigation = true;
});

// Attach the event click for all inputs in the page
$("input").bind("click", function() {
    validNavigation = true;
});


window.onbeforeunload = CallbackFunction;

//window.onbeforeunload = goodbye;

}

  // Wire up the events as soon as the DOM tree is ready
$(document).ready(function() {
    wireUpEvents();
});*/
</script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'homepage/profile_style.css' %}" />
<body>
    <div class="titleAthena">
        <span><span class="format_logo"><img  src="{% static 'homepage/images/logo.png' %}"></span><span class="Course_Name">{{CourseName}}</span><span class="Lesson_Name">{{ loadlesson.challenge_name }}{{ loadlesson.lesson_name }}</span></span>
                <span class="helloUser">
            <a class="username" href="{% url 'homepage:profile' UserName %}">
                <table style="margin:-5px; padding: 0;">
                    <tr style="margin:0; padding: 0;"><td style="margin:0; padding: 0; text-align: right; vertical-align: bottom;">Welcome, <strong>{{  UserName }}</strong></td><td rowspan="2" style="margin-left: 5px; padding-left:5px;"><img class="img-circle user_pic" src="{% static picture %}" style="height:38;width:38;"></td></tr>
                    <tr style="margin:0; padding: 0;"><td style="margin:0; padding: 0; text-align: right; vertical-align: top;">Score: <strong>{{score}}</strong></td></tr>
                </table>
            </a>
        </span> 
    </div>
    

    <div class="container">
        <div class="leftpane">
            <div class="profilePic">
                <img class="img-circle"src="{% static 'homepage/images/profilepic.png' %}">
                <p> -- {{ UserName }} -- </p>
                <hr>
            </div>
            <div class="listoptions">
                <ul>
                    <li><a href="#"><label>>> </label>Course in Progress</a></li>
                    <li><a href="{% url 'homepage:courseList' UserName %}"><label> >> </label>Course List</a></li>
                </ul>
            </div>
        <input type=button value="Go back" onClick="window.history.back();return false;">
        <a class="abutton" href="{% url 'homepage:logoutuser' %}">Logout</a>
        </div>

        <div class="newsfeed" id="newsfeed">
            <div class="newscontent">
                <h1> This is your progress:</h1>
                <div class="progress_block">
                    <p><strong>Lesson Completed:</strong></p>
                    {% for i in Progress %}
                    {% if i.is_complete %}
                        <li>{{ i.lesson.lesson_name }} : Complete! </li>
                    {% else %}
                        <li>{{ i.lesson.lesson_name }} : In Progress!</li>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="progress_block">
                    <p><strong>Challenge Completed:</strong></p>
                    {% for i in CProgress %}
                        {% if i.is_complete %}
                            <li>{{ i.challenge.challenge_name }} : Complete! </li>
                        {% else %}
                            <li>{{ i.challenge.challenge_name }} : In Progress!</li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$( window ).resize(function() {
    var b = $('body').width();
    $('#newsfeed').width(b-310);
  $( "#log" ).append( "<div>Handler for .resize() called.</div>" );
});

$( document ).load(function() {
    var b = $('body').width();
    $('#newsfeed').width(b-310);
  $( "#log" ).append( "<div>Handler for .resize() called.</div>" );
});
</script>
</html>