.courselist{
    overflow:hidden;
    height: 100%;
}

.detail{
    height:100%;
    border-bottom: solid;
    border-width: 3px;
    border-color:#fb8f00;
    overflow: auto;
    margin: 15px;
}


.lesson_sidebar_list{
    float:right;
    width:300px;
    height:100%;
    background-color: #f9f9f9;
    border-left:solid;
    border-width:3px;
    border-color:#fb8f00;      
}

table.center {
	margin-bottom: 80px;
	width:70%;
    margin-left:15%; 
    margin-right:15%;
 }


.easy{
    display: block;
    margin:25px;
    float:left;
    width:225px;
    height:225px;
    border:none;
    border-radius: 30px;
    background-color: #a4efff;
}

.medium{
	display: block;
    margin:25px;
    float:left;
    width:225px;
    height:225px;
    border: none;
    border-radius: 30px;
    background-color: #75d1ff;
}

.hard{
	display: block;
    margin:25px;
    float:left;
    width:225px;
    height:225px;
    border: none;
    border-radius: 30px;
    background-color: #2889ff;
}


.newsrow{
	border-width: 3px;
	border-color: black;
	border-style: solid;
}




