.courselist{
    overflow:hidden;
}
.lesson_sidebar_list{
    float:right;
    width:300px;
    height:100%;
    background-color: #f9f9f9;
    border-left:solid;
    border-width:1px;    
}