
.course_nav {
    float:left;
    width:150px;
    height:90%;
    background-color: #e6e6ff;
    border-right:solid;
    border-width:1px;
}

.lesson_sidebar{
    float:right;
    width:250px;
    height:90%;
    background-color: #e6e6ff;
    border-left:solid;
    border-width:1px;    
}

.main_lesson{
    overflow:hidden

}

.lesson_content{
    height:40%;
    border-bottom: solid;
    border-width: 1px;
    overflow: auto;
}

.coding_practice{
    display:block;
    overflow: auto;
    height:100%;
}

.hide_lesson{
    position:relative;
    display: block;
    float:right;
    margin-top:0px;
    margin-right:4px;
    cursor:pointer;
}

.lesson_list{
    list-style-type:circle;
    font-weight:bold;
}

.lesson_item{
    padding-bottom:10px;
    cursor:pointer;
}

.sidebar_btn{
    width:49%;
    padding: 10px;
    border: none;
    display: inline-block;
}
.sidebar_btn:focus{
    outline: none;
}