

.page{
    /*position:relative;
    height:inherit;
    padding: 0px;
    margin: 0px;
    border-bottom: solid;
    border-width: 1px;*/
}

.course_nav {
    float:left;
    width:175px;
    height:100%;
    background-color: #f9f9f9;
    border-right:solid;
    border-width:3px;
    border-color:#fb8f00;
}

.lesson_sidebar{
    float:right;
    width:300px;
    height:100%;
    background-color: #f9f9f9;    
    border-left:solid;
    border-width:3px;  
    border-color:#fb8f00;    
}

.online_user{
    padding-left:10px;
    margin-bottom:20px;
    text-decoration:none;
    color:#fb8f00;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 7;
    font-style: normal;
    font-stretch: normal;
}
.table_row{
   padding-bottom: 15px; 
}

.online_user_table{
    margin-left: 20px;
}
.main_lesson{
    overflow:hidden;
    height:100%;

}

.lesson_content{
    height:100%;
    border-bottom: solid;
    border-width: 3px;
    border-color:#fb8f00;
    overflow: auto;
    margin: 15px;
}

.bottom{
    height:50px;
}
.coding_practice{
    display:block;
    overflow: auto;
    
}

.hide_lesson{
    position:relative;
    display: block;
    float:right;
    margin-top:0px;
    margin-right:4px;
    cursor:pointer;
}

.lesson_list{
    list-style-type:circle;
    font-weight:bold;
    list-style:none;
    margin-left: -20px;
}

.icon{
    position:relative;
    padding: 0px 18px 0px 0px;
    top: 2px;
    z-index: 2;
}

.challenge_icon{
    position:relative;
    height: 20px;
    width: 20px;
    padding: 0px 12px 0px 0px;
    left: -2px;
    top: 2px;
    z-index: 2;
}

.incomplete_line{
    position:relative;
    left:7px;
    height: 30px;
    top: -5px;
    margin-bottom:-9px;
    border-left:solid;
    border-width:1px;
    border-color:d9d4ed;
}

.complete_line{
    position:relative;
    left:7px;
    height: 30px;
    top: -5px;
    margin-bottom:-9px;
    border-left:solid;
    border-width:1px;
    border-color:5b40b2;
}

.lesson_item{
    cursor:pointer;
    text-decoration:none;
    color:d9d4ed;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;

}

.current_lesson_item{    
    cursor:pointer;
    text-decoration:none;
    color:fb8f00;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

.lesson_complete{
    background: url('images/check.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 16px 16px;
    color:5b40b2;
}

.sidebar_btn{
    width:148px;
    padding: 10px;
    border: none;
    display: inline-block;
}
.sidebar_btn:focus{
    outline: none;
}
