
.titleAthena{
    background-color: darkorange;
    height: 60px;
    font-weight:normal;
}
.titleText{
    color:white;
    font-size:62px;
    display: inline;
}

.helloUser{
    float:right;
    display: inline;
    font-size:18px;
}

.username{
    font-weight:bold;
    text-decoration:none;
    color:black;
}

.leftpane{
    float:left;
    width:300px;
    height:100%;
    background-color: grey;
    
}

.profilePic{
    padding:15px;
    text-align:center; 
}

.profilePic p{
    font-weight:bold; 
}
.img-circle{
     border-radius: 50%;
}

.listoptions ul{
    list-style:none;
}
.listoptions li{
    padding:8px 15px;
}
.listoptions a{
    color: white;
    font-size: 16px;
    font-family:sans-serif;
}
hr{
    width:75%;
}

.newsfeed{
    float:left;
}
.newscontent{
    padding:0px 20px;
}
.background{
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-white{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.button{
    width: 150px;            
    background-color: darkorange; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}
.button:hover{
    background-color: green; /* Green */           
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;            
}



.abutton{
    text-decoration: none;
    color: white;
    font-family:sans-serif;  
    width: 90px;            
    /* Green */
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
    cursor: pointer;
}
td{
    padding: 5px
}