html {
	height:100%;
	width:100%;
	
}


body {
    margin:0px;
    height:100%;
    width:100%
}



.titleAthena{
    display:block;
    margin:0px;
    background-color: fb8f00;
    height: 50px;
    font-weight:normal;
}
.titleText{
    color:white;
    font-size:62px;
    padding-left: 10px;
    margin-top:-10px;
    display:inline;
}

.helloUser{
    float:right;
    display: inline;
    font-size:18px;
    position:relative;
    top: 10px;
    right: 60px;
}

.username{
    font-weight:bold;
    text-decoration:none;
    color:black;
}

.leftpane{
    float:left;
    width:300px;
    height:100%;
    background-color: grey;
    
}

.profilePic{
    padding:15px;
    text-align:center; 
}

.profilePic p{
    font-weight:bold; 
}
.img-circle{
     border-radius: 50%;
}

.listoptions ul{
    list-style:none;
}
.listoptions li{
    padding:8px 15px;
}
.listoptions a{
    color: white;
    font-size: 16px;
    font-family:sans-serif;
     text-decoration:none;
}
hr{
    width:75%;
}

label{
    font-weight:bold;
    font-family:sans-serif;
    color:white;   
}

.newsfeed{
    float:left;
}
.newscontent{
    padding:0px 20px;
}

.text-white{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.button{
    width: 150px;            
    background-color: darkorange; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}
.button:hover{
    background-color: green; /* Green */           
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;            
}



.abutton{
    text-decoration: none;
    color: white;
    font-family:sans-serif;  
    width: 90px;            
    /* Green */
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
    cursor: pointer;
}
td{
    padding: 5px
}

.course_block:hover{
    background-color:darkorange;
}

.course_link{
    display:block;
    color: white;
    font-weight:bold;
    font-size:22px;
}
.course_block{
    float:left;
    width:200px;
    height:200px;
    border-style: outset;
    border-width: 2px;
    border-color: grey;
    border-radius: 30px;
    background-color: orange;
}

.course_image{
    text-align: center;
    height:100px;
    position:relative;
    left:20%;
    padding: 20px 10px;
}

.course_content{
    text-align: center;
}

.spacing{
    float:left;
    padding: 10px;
}

.addPadding{
    padding: 0px 20px 0px 10px
}

.Course_Name{
    position: relative;
    left: 140px;
    top:-5px;
    font-family: Ubuntu;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.5px;
    color: #ffffff;
    
}

.Lesson_Name{
    position: relative;
    left: 160px;
    top:-5px;
    font-family: Ubuntu;
    font-size: 35px;
    font-weight: 55000;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.5px;
    color: #19202e;
}

.format_logo{
    position:relative;
    left:30px;
    top:5px;
}